@use 'constants' as constants;
@use 'colors' as colors;

.available-screen {
  width: 100%;
  height: 100%;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.available-screen:has(.loader) {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.heading {
  margin-bottom: 20px;
  font-size: constants.$font-xxl;
  font-weight: constants.$font-weight-semibold;
}

.courses {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(270px, max-content)
  ); //max-content prevents the cards to grow beyond its natural size

  // grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));

  justify-content: start;
  gap: 20px;
  scrollbar-gutter: stable;
  margin-right: 20px;
}

.menu-options {
  cursor: pointer;
  position: fixed;
  z-index: 9999;
  width: 100px;
  font-size: constants.$font-large;
  display: flex;
  flex-direction: column;
  padding: 10px 12px;
  background: colors.$color-background-primary;
  border-radius: 4px;
  gap: 20px;
  opacity: 1;
  visibility: visible;
  transition:
    opacity 0.2s ease-in-out,
    visibility 0.2s ease-in-out;

  .hidden {
    opacity: 0;
    visibility: hidden;
  }

  .menu-option {
    text-align: left;
    color: colors.$color-font-primary;
    font-weight: constants.$font-weight-normal;
  }

  .menu-option:hover {
    color: white;
  }
}

@media (max-width: 768px) {
  .courses {
    // flex-grow: 1;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  }
}
