//COLORS
// $font-select-highlight: yellowgreen;
$font-select-highlight: #5865f2;
$font-primary-color: #b9bbbe;

// Background colors
$color-background-primary: #0e1113;
$color-background-secondary: #282828;
$color-hover: #535353;
$color-background-card: #0e1113;
$color-card-hover: #1f2123;

$color-background-input: #0e1113;
$color-background-input-hover: #1f2123;

// Font colors
$color-font-primary: #c1c2c2;
$color-font-secondary: #b9bbbe;
$color-font-muted: #72767d;
$color-font-error: #ed4245;

// Border colors
$color-border-primary: #3e4142;
$color-border-focus: #5865f2;

// Button colors
$color-button-primary: #5865f2;
$color-button-primary-hover: #4752c4;
$color-button-primary-active: #3c45a5;
$color-button-disabled-font: #72767d;
$color-button-disabled-bg: #3c45a5;

//The naming format for new constants should be: $color-element
