
//only add font related constants here

$font-normal: 0.9rem;
$font-small: 0.75rem;
$font-medium: 0.875rem;
$font-large: 1rem;
$font-xl: 1.25rem;
$font-xxl: 1.5rem;

// font weights
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;

$header-height: 60px;
$left-sidebar-width: 60px;
$right-sidebar-width: 300px;
$mobile-sidebar-height: 60px;



