<div
  class="course-card"
  routerLink="/course/decks"
  [queryParams]="{ courseId: course().courseId }">
  <div class="card-header">
    <div class="header-content">
      <h3 class="course-name">
        {{ course().courseName }}
      </h3>
    </div>
    <div class="menu-btn-container">
	    <button class="menu-btn" (click)="toggleMenuEvent($event)">⋯</button>
    </div>
  </div>

  <div class="card-content">
    <div class="info-grid">
      <div class="info-item">
        <span class="label">ID</span>
        <span class="value">{{ course().courseId }}</span>
      </div>
    </div>
  </div>
</div>
