<div class="deck-card" routerLink="/deck/flashcards" [queryParams]="{ deckId: deck().deckId }">
  <div class="card-header">
    <div class="header-content">
      <h3 class="deck-name">
        {{ deck().deckName }}
      </h3>
    </div>
    <div class="menu-btn-container">
      <button class="menu-btn" (click)="toggleMenuEvent($event)">⋯</button>
    </div>
  </div>

  <div class="card-content">
    <div class="info-grid">
      <div class="info-item">
        <span class="label">ID</span>
        <span class="value">{{ deck().deckId }}</span>
      </div>
    </div>
  </div>
</div>
